.scroll-to-top {
  position: fixed;
  bottom: 3rem;
  right: 3rem;
  border: none;
  background-color: var(--color-white);
  padding: 1rem;
  border-radius: 4px;
  font-size: 2rem;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
